@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "openDyslexic";
  font-weight: normal;
  font-style: normal;
  src:
    local(""),
    url("./fonts/OpenDyslexicAlta-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "verdana";
  font-weight: normal;
  font-style: normal;
  src:
    local(""),
    url("./fonts/Verdana.ttf") format("truetype");
}

@layer base {
  body {
    font-family: "openDyslexic";
  }
}
